<div class="container">
    <br>
    <form>
        <div class="form-group">
            <label>Tài khoản</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nhập tên tài khoản">
            <small id="emailHelp" class="form-text text-muted">Không được bỏ trống</small>
        </div>
        <form>
            <label for="exampleInputEmail1">Mật Khẩu</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="nhập mật khẩu">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nhập lại">
                </div>
            </div>
        </form>
        <div class="form-group form-check">
            <br>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>