<div class="container">
    <br>
    <div>
        <div style="text-align: right;">
            <div style="color: black;">Thời gian còn lại:</div>
            <div style="color:red;font-weight: 600;margin-right:15px"><i class="far fa-clock" style="margin-right:10px;"></i> 
                 <countdown #countdown [config]="{leftTime: thoigian }" (finished)="finishTest(thoigian)"> $!m!:$!s!</countdown>
            </div>

        </div>
    </div>
    <div class="card " *ngFor="let qui of quiz | paginate: { itemsPerPage: sodong, currentPage: sotrang }">

        <div class="card-header" style="background-color: red;color: yellow;">
            <div style="float:left">{{name}}</div>
            


        </div>

        <div class="card-body">
            <p style="text-align: center;background-color: rgb(119, 131, 131);color: white;padding: 10px 0">Câu
                {{sotrang}}:{{qui.Text}}</p>
            <div *ngFor="let question of qui.Answers">
                <div class="row" style="margin-left: 10px;">
                    <div class="form-check form-check-inline formradio">
                        <!-- <input (click)="kiemtrainput()" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                         [disabled]="hieninput"   [value]="question.Id" [(ngModel)]="thongtin.valuee" [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label">{{question.Text}}</label> -->
                        <label class="checkradio">{{question.Text}}
                            <input type="radio" (click)="kiemtrainput()" name="inlineRadioOptions" id="inlineRadio1"
                                [disabled]="hieninput" [value]="question.Id" [(ngModel)]="thongtin.valuee"
                                [ngModelOptions]="{standalone: true}">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- hien dap an khi tra loi sai -->
        <div *ngIf="dapandung" style="font-size: 25px;text-align: center;background-color: yellow;">
            Đáp án đúng là : {{dapandung.Text}}
        </div>
        <div class="card-footer text-muted" style="height: 70px;">
            <div>
                <p style="float: left;font-size: 25px;">Mark:{{mark}}</p>
                <button type="button" class="btn btn-primary" [disabled]="hiensubmit" (click)="kiemtrasubmit()"
                    id="ttn_submit" (click)="tinhdiem(qui.AnswerId,qui.Answers)">Submit</button>
                <button [disabled]="hiennextpage" (click)="nextpage()" type="button" value="Next" style="float: right;"
                    name="dapan_button" class="btn btn-dark">Next</button>
            </div>
            <br>
        </div>
    </div>
</div>