<div class="container">
    <br>
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Tài Khoản</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Mật khẩu</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
            <a href="" style="text-decoration: none">Quên mật khẩu</a>
        </div>
        <div>
                <button type="buuto" class="btn btn-primary mb-2">Đăng Nhập</button>
        </div>
    </form>
</div>