<div class="row">
    <div class="col-6" *ngFor="let danhmuc of subject  | paginate: { itemsPerPage:sodong, currentPage:sotrang }">
        <!-- <div class="card text-center"> -->
        <!-- <a (click)="checkdangnhap_trangchu" [routerLink]="['/thitracnghiem',danhmuc.Name,danhmuc.Id]"
                style="text-decoration: none;">
                <div class="img">
                    <img src="" alt="..." class="img-thumbnail">
                </div>
                <div class="card-footer text-muted" style="height: auto;background-color: #202020; ">
                    <p style="color: white;">{{danhmuc.Name}}</p>
                </div>
                <div class="readyexam">
                    <button type="button" class="btn btn-danger">Thi Ngay</button>
                    <div>Rất dễ</div>
                </div>
            </a> -->
        <div class="box">
            <div class="imgbox">
                <img src="assets/images/{{danhmuc.Logo}}" alt="">
            </div>
            <a (click)="checkdangnhap_trangchu" [routerLink]="['/thitracnghiem',danhmuc.Name,danhmuc.Id]"
                style="text-decoration: none;">
                <div class="content">
                    <a>{{danhmuc.Name}}</a>
                </div>
                <div class="click">
                    <p style="color: blanchedalmond;">Thử sức nào</p>
                    <button type="button" class="btn btn-warning">Let's go</button>
                </div>
            </a>
        </div>
        <!-- </div> -->

        <br>
    </div>

    <div class="container">
        <div class="card-footer text-muted" style="font-size: 30px;">
            <a (click)="luipage()"><i class="fa fa-hand-o-left"></i></a>
            <a (click)="nextpage()" style="float: right;"><i class="fa fa-hand-o-right"></i></a>
            <br>
        </div>
    </div>

</div>