<div class="container">
    <div>
        <H2>Q & A</H2>
        <div style="float:right">Gửi góp ý qua <a style="color:#ff0023" href="https://www.facebook.com/Jin3be">Facebook</a></div>
    </div>
    <div class="box">
        <img src="../../assets/gopy/gop-y-nhan-vien.jpg" alt="">
        <div class="flex">
            <img src="../../assets/gopy/d-man-standing-presenting-q-word-questions-answers-concept-over-white-background-57916286.jpg"
                alt="">
            <div style="margin-left:10px">

            </div>
        </div>
    </div>

</div>