<div class="container">
    <br>
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Nhập mật khẩu cũ</label>
            <input type="text" class="form-control" id="formGroupExampleInput" >
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Nhập mật khẩu mới</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" >
        </div>
        <button type="button" class="btn btn-success">Submit</button>
    </form>
</div>