<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Có lỗi xảy ra</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Quá trình thi</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Màu sắc?</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Góp ý</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-outline-primary">Gửi</button>
    </form>
</div>