<div class="container">
    <H2>Giới Thiệu</H2>
    <div class="row">
        <div class="col-7">
            <div>
                Tôi là Nguyễn Văn Hoàng,1 sinh viên năm 2 tại trường Cao Đẳng Công Nghệ Thông Tin
            </div>
            <div>
                Nước đã hình thành hàng triệu năm,tôi hình thành gần 20 năm
            </div>
            <div>
                Là 1 chiến binh mạnh mẽ đến từ thế giới ánh sáng nằm trong bóng tối của mặt trời
            </div>
            <div>
                Thanh niên thật thà nghiêm túc,tích cực vì cuộc sống tươi đẹp
            </div>
            <div>Hãy đi ngủ trước 11h và thức dậy vào 5h30 sáng để có 1 tinh thần thật tốt và cơ thể tràn đầy năng
                lượng
            </div>
        </div>
        <div class="col-5 img">
            <img src="../../assets/gioithieu/nhung-cau-gioi-thieu-ban-than-hai-huoc-tren-facebook-3.jpg" alt="...">
        </div>

    </div>
</div>