<div class="full">

    <div class="container">
        <div class="banner">
            <img src="../assets/baa.png" alt="">
        </div>
        <div id="menu_id">

            <div class="thanhmenu">
                <li><a style="color:red;" class="nav-link" [routerLink]="['/trangchu']"><i class="fas fa-home"></i></a>
                </li>
                <li><a class="nav-link" [routerLink]="['/gioithieu']"><i class="fas fa-id-card-alt"></i> Giới thiệu </a>
                </li>
                <li><a class="nav-link" [routerLink]="['/lienhe']"> Liên hệ </a></li>
                <li><a class="nav-link" [routerLink]="['/gopy']"><i class="far fa-comment"></i> Góp ý </a></li>
                <li><a class="nav-link" [routerLink]="['/hoidap']"><i class="far fa-question-circle"></i> Hỏi đáp </a>
                </li>
                <div style="float:right;">
                    <li><a *ngIf="getisShow()" class="nav-link" [routerLink]="['/dangki']" style="color: white;"><i class="fas fa-check-circle"> Đăng ký </i></a></li>
                    <li><a *ngIf="getisShow()" class="nav-link" [routerLink]="['/dangnhap']" style="color:yellow"><i class="fa fa-user"> Đăng nhập </i></a></li>
                </div>
                
                <div *ngIf="!getisShow()" class="form-inline my-2 my-lg-0" style="float:right">
                    <ul class="navbar-nav">
                        <li class=" dropdown">
                            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fa fa-user"></i>
                                <span style="font-size: 15px;padding-left: 5px;">Thí Sinh: {{Username}}</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a (click)="exit()" class="dropdown-item" [routerLink]="['/dangnhap']">Đăng Xuất</a>
                                <div class="dropdown-divider"></div>
                                <a (click)="check()" class="dropdown-item" [routerLink]="['/doimatkhau']">Đổi mật
                                    khẩu</a>
                                <div class="dropdown-divider"></div>
                                <a (click)="check()" class="dropdown-item" [routerLink]="['/suadoitaikhoan']">Cập nhật
                                    tài khoản</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9" style="margin-top:12px">
                <router-outlet></router-outlet>
            </div>
            <div class="col-3" style="margin-top:12px">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-th-list" style="font-size:18px;"> Danh mục môn học</i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <ul class="list-group">
                                <div *ngFor="let danhmuc of danhmuc">
                                    <a [routerLink]="['/thitracnghiem',danhmuc.Name,danhmuc.Id]"
                                        style="text-decoration: none" id="danhmuc">
                                        <li (click)="checkdangnhap()" class="list-group-item">{{danhmuc.Name}}</li>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>